<div class="rk-wrapper">
    <div class="rk-kep">
        @if (urlInfo()?.kepUrl()?.length > 0) {
        <div class="rk-kep-nev">{{kepInfo()?.name}}</div>
        <p-image [src]="urlInfo()?.kepUrl()"
                 alt="Image"
                 imageClass="rk-kep-img"
                 [preview]="true">
            <!-- <ng-template pTemplate="indicator">
                <i class="pi pi-eye">{{kepInfo()?.name}}</i>
            </ng-template> -->
        </p-image>
        }
    </div>
    <div class="rk-torles">
        @if (sajatE()) {
        <p-button icon="pi pi-trash"
                  severity="danger"
                  [size]="'small'"
                  [rounded]="true"
                  [text]="true"
                  [raised]="true"
                  (onClick)="kepTorles($event)"></p-button>
        <p-confirmPopup #kepTorlesConfirmPopupRef
                        key="kepTorlesConfirmPopupRef">
            <ng-template pTemplate="headless"
                         let-message>
                <div class="egyszeru-confirm-keret">
                    <div class="eck-uzi">
                        <span>{{ message.message }}</span>
                    </div>
                    <div class="eck-gombok">
                        <p-button icon="pi pi-trash"
                                  severity="danger"
                                  [rounded]="true"
                                  [text]="true"
                                  (onClick)="kepTorlesAccept()"></p-button>
                        <p-button icon="pi pi-undo"
                                  [rounded]="true"
                                  [text]="true"
                                  (onClick)="kepTorlesReject()"></p-button>
                    </div>
                </div>
            </ng-template>
        </p-confirmPopup>
        }
    </div>
</div>