.rk-wrapper {
    max-width: 400px;
    display: flex;
    flex-wrap: nowrap;
    border: 1px solid orange;
    border-radius: 1rem;
    padding: 1rem;
    background-color: white;

    .rk-kep {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // max-width: 280px;
        // max-height: 280px;

        .rk-kep-nev {
            padding-bottom: 0.5rem;
            font-size: 0.8rem;
            font-weight: 500;
        }

    }

    .rk-torles {
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

:host::ng-deep.rk-kep-img {
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
}
