<div class="akcio-keret">
    <div class="keret-fej">
        <div class="fej-bal">
            @if (ful > 1) {
            <p-button icon="pi pi-angle-double-left"
                      class="fej-gomb"
                      [rounded]="true"
                      [outlined]="true"
                      (onClick)="balra()"></p-button>
            }
        </div>
        <div class="fej-kozep fk-min ">
            @if (ful===2) {
                Tételek
                @if (kivalasztottLista()) { 
                    (<span (click)="nagyiModValtas()">{{kivalasztottLista().kezdonapForras}} - {{kivalasztottLista().vegeNapForras}}</span>)
                }
            } @else if (ful < 2) {
                Akciós listák
            } @else {
                Tétel szerkesztő
            }
        </div>
        <div class="fej-kozep fk-max">
            AKCIÓ KEZELŐ
        </div>
        <div class="fej-jobb">
            @if (ful < 3) {
              <p-button icon="pi pi-angle-double-right"
                        class="fej-gomb"
                        [rounded]="true"
                        [outlined]="true"
                        (onClick)="jobbra()"></p-button>
            }
        </div>
    </div>
    <div class="keret-torzs">
        <div class="torzs-bal">
            <app-akcio-lista-lista></app-akcio-lista-lista>
        </div>
        <div class="torzs-kozep-max">
            <app-akcio-lista [mobilE]="false"></app-akcio-lista>
        </div>
        <div class="torzs-kozep-min">
            @if (ful < 2)
              {
              <div
              class="kozep-lista"><app-akcio-lista-lista></app-akcio-lista-lista></div>
        }
        @else if (ful === 2) {
        <div class="kozep-akciok">
            <app-akcio-lista [mobilE]="true"></app-akcio-lista>
        </div>
        }
        @else {
        <div class="kozep-szerkesztok">
            <app-akcio-tetel-szerkeszto [mobilE]="true"></app-akcio-tetel-szerkeszto>
        </div>
        }
    </div>
    <div class="torzs-jobb">
        <app-akcio-tetel-szerkeszto [mobilE]="false"></app-akcio-tetel-szerkeszto>
    </div>
</div>
</div>