.lista-felvetel {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    .felvetel-form {
        width: 100%;
        text-align: center;

        .ff-fej {
            font-size: 1.5em;
            padding: 20px 0;
        }

        .ff-hiba {
            padding: 20px 15%;
            color: red;
            font-weight: 700;
        }
    }

    .felvetel-gombok {
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    
}