.loading-indicator-shadow {
    opacity: 0;
    background-color: black;
    transition: opacity 0.4s ease-in-out, visibility 0.4s linear;
    visibility: hidden;

    &.loading {
        visibility: visible;
        opacity: 0.5;
    }
}

.loading-indicator-foreground, .loading-indicator-shadow {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 25;
}

.loading-indicator-bg {
    position: fixed;
    bottom: 50px;
    right: 50px;
    opacity: .5;
}

.image {
    z-index: 25;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    border-radius: 60px;
    margin: -25px 0 0 -25px;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
