$ak-piros: #dd022b;
$ak-kek: #0229b1;

$emu-blue: #338BBF;
$fornax-blue: #006393;
$emu-menu-main: #006393;
$prime-icon-blue:#007bff;
$emu-icon-blue: #007ad9;
$emu-blue-darker: #2e7cab;
$emu-light-blue: #5CC0DE;
$emu-info: #5CC0DE;
$emu-table-row-selected-background: #f0f8fb;
$emu-table-row-selected-hover-background: #e7eff3;
$emu-table-inactive-row-background: #dcdada;
$emu-dark-blue: #1A254B;
$emu-extra-dark-blue: #0d1225;
$emu-green-light: #8ABFA7;
$emu-success: #5cb85c;
$emu-green-dark: #00733f;
$emu-warning: #f0ad4e;
$primme-warning:#FBC02D;
$red: #d9534f;
$emu-red: $red;
$emu-danger: $red;
$emu-red-light: #F2B3B3;
$emu-red-lighter: #F8DCDC;

$gray-light: #8e8e93;
$gray-dark: #292b2c !default;
$gray: #636c72 !default;
$gray-lighter: #eceeef !default;
$gray-lightest: #f7f7f9 !default;

$prime-ng-gray-background: #f4f4f4;
$prime-ng-gray-border: #c8c8c8;

$emu-danger-back: rgba(217, 83, 79, 0.1);
$emu-danger-o2-back: rgba(217, 83, 79, 0.15);
$emu-danger-o3-back: rgba(217, 83, 79, 0.05);

$font-weight-semibold: 500 !default;