@import "../../app-colors.scss";

@keyframes elem-megjelenes {
    from {
        opacity: 0;
        // transform: translateX(-100px);
        // clip-path: inset(100% 100% 0 0);
        scale: 0.5;
    }
    to {
        opacity: 1;
        // transform: translateX(0px);
        // clip-path: inset(0 0 0 0);
        scale: 1;
    }
}

@keyframes beki {
    0% {
        opacity: 0;
        transform: translateX(300px);
        // clip-path: inset(100% 100% 0 0);
        scale: 0.5;
    }
    12% {
        opacity: 1;
        transform: translateX(0px);
        // transform: translateX(0px);
        // clip-path: inset(0 0 0 0);
        scale: 1;
    }
    90% {
        opacity: 1;
        // transform: translateX(0px);
        // clip-path: inset(0 0 0 0);
        scale: 1;
    }
    100% {
        opacity: 0;
        // transform: translateX(-100px);
        // clip-path: inset(100% 100% 0 0);
        scale: 0.5;
    }

}

.rl-wrapper {
    width: 100%;
    height: 100%;
    container-type: inline-size;
    container-name: receptlista;

    .lista-szuro {
        width: 100%;
        height: 60px;
        padding: 0 5%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        .szuro-gombok {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;

            .szuro-gomb {
                min-width: 50px;
                margin-right: 10px;
            }
        }

        .kereso-szoveg {
            width: 60%;

            .p-inputtext {
                width: 100%;
            }
        }

        .kereso-torlo {
            min-width: 50px;
            margin-left: 10px;

            .rejtett {
                display: none;
            }
        }
    }

    .lista-torzs {
        width: 100%;
        max-height: calc(100% - 60px);
        overflow-x: hidden;
        overflow-y: auto;        
        // display: flex;
        // flex-wrap: nowrap;
        // flex-direction: column;
        // justify-content: start;
        // align-items: center;
        // padding-top: 30px;
        display: grid;
        grid-template-columns: repeat(auto-fit, (minmax(360px, 1fr)));
        gap: 1rem;
        justify-self: center;
        padding: 1rem;
        padding-right: 2rem;
        // Animáció miatt megnővelt felső és alsó padding
        padding-bottom: 4rem;
        padding-top: 2rem;
    
        .recept-panel {
            // width: 90%;
            // min-height: 100px;
            display: flex;
            flex-wrap: wrap;
            // margin: 10px 0;
            border-radius: 10px;
            border: 1px solid $kk-sotetzold;
            min-height: 3rem;
            align-items: center;
            padding: 0 1rem;

            // https://www.youtube.com/watch?v=L1pGRZN_YLo&list=PLNYkxOF6rcICM3ttukz9x5LCNOHfWBVnn&index=4
            
            // animation: elem-megjelenes;
            // animation-timeline: view();
            // animation-range: entry 0% cover 12%;

            animation: beki;
            animation-timeline: view();
            animation-range: entry exit;

            &.kivalasztott {
                border: 2px solid $prime-warning;
            }

            &.sajat {
                color: $kk-lila;
            }
    
            .recept-nev {
                width: 60%;
                min-width: 220px;
                flex-grow: 1;
                border-top-left-radius: 10px;
                padding: 5px;
                font-weight: 900;

                .nev-kieg {
                    color: $kk-naracs;
                    font-size: 0.9rem;
                    font-weight: 400;
                    margin-left: 0.3rem;

                    .kedvenc-ikon {
                        font-size: 0.9rem;
                    }
                }
            }
    
            .recept-keszites {
                width: 40%;
                min-width: 140px;
                flex-grow: 1;
                border-top-right-radius: 10px;
                padding: 5px;
            }
        }
    }
        
    /* If the container is larger than 800px */
    @container receptlista (min-width: 800px) {

        .lista-torzs { 
            // flex-direction: row;
            // flex-wrap: wrap;
            // justify-content: space-evenly;
            // align-items: start;

            .recept-panel {
                // width: 45%;
                // min-height: 200px;
                
                .recept-nev {
                    width: 100%;
                    border-top-right-radius: 10px;
                    // padding-right: 16px;
                }
    
                .recept-keszites {
                    width: 100%;
                    border-top-right-radius: 0;
                    // padding-left: 16px;
                }
            }
        }
    }
}
