@if (sajatE()) {
<div class="link-blokk">
    @if (szerkesztesiAdatok()?.szerkesztesAlatt()) {
    <div class="link-szerk-cancel nagyblokk">
        <p-button icon="pi pi-undo"
                  severity="warning"
                  [size]="'small'"
                  [rounded]="true"
                  [text]="true"
                  [raised]="true"
                  (onClick)="linkModMegse()"></p-button>
    </div>
    <div class="link-szerk-mezok">
        <div class="link-szerk-mezo">
            <div class="link-mezo-felirat">Név:</div>
            <div class="link-mezo-torzs">
                <input type="text"
                       pInputText
                       class="mezo-input"
                       [ngClass]="{'ng-invalid ng-dirty': szerkesztesiAdatok()?.szerkesztettLink()?.nev?.length < 1}"
                       [(ngModel)]="szerkesztesiAdatok()?.szerkesztettLink().nev"
                       (ngModelChange)="linkNevModositas($event)" />
            </div>
        </div>
        <div class="link-szerk-mezo">
            <div class="link-mezo-felirat">Link:</div>
            <div class="link-mezo-torzs">
                <input type="text"
                       pInputText
                       class="mezo-input"
                       [ngClass]="{'ng-invalid ng-dirty': szerkesztesiAdatok()?.szerkesztettLink()?.link?.length < 1}"
                       [(ngModel)]="szerkesztesiAdatok()?.szerkesztettLink().link"
                       (ngModelChange)="linkLinkModositas($event)" />
            </div>
        </div>
        <div class="link-szerk-mezo kisblokk">
            <div class="link-szerk-cancel">
                <p-button icon="pi pi-undo"
                          severity="warning"
                          [size]="'small'"
                          [rounded]="true"
                          [text]="true"
                          [raised]="true"
                          (onClick)="linkModMegse()"></p-button>
            </div>
            <div class="link-szerk-ok">
                <p-button icon="pi pi-check"
                          severity="success"
                          [size]="'small'"
                          [rounded]="true"
                          [raised]="true"
                          [text]="true"
                          [disabled]="szerkesztesiAdatok()?.szerkesztettLink()?.link?.length < 1 || szerkesztesiAdatok()?.szerkesztettLink()?.nev?.length < 1"
                          (onClick)="linkModOK()"></p-button>
            </div>
        </div>
    </div>
    <div class="link-szerk-ok nagyblokk">
        <p-button icon="pi pi-check"
                  severity="success"
                  [size]="'small'"
                  [rounded]="true"
                  [raised]="true"
                  [text]="true"
                  [disabled]="szerkesztesiAdatok()?.szerkesztettLink()?.link?.length < 1 || szerkesztesiAdatok()?.szerkesztettLink()?.nev?.length < 1"
                  (onClick)="linkModOK()"></p-button>
    </div>
    } @else if(!ujLinkFelvetelE()) {
    <div class="link-mod">
        <p-button icon="pi pi-file-edit"
                  severity="warning"
                  [size]="'small'"
                  [rounded]="true"
                  [text]="true"
                  [raised]="true"
                  (onClick)="linkModositasInditas()"></p-button>
    </div>
    <div class="link-nev">
        <p-button [label]="link().nev"
                  [link]="true"
                  (click)="openLink()" />
    </div>
    <div class="link-torles">
        <p-button icon="pi pi-trash"
                  severity="danger"
                  [size]="'small'"
                  [rounded]="true"
                  [text]="true"
                  [raised]="true"
                  (onClick)="linkTorles($event)"></p-button>
        <p-confirmPopup #linkConfirmPopupRef
                        key="linkConfirmPopupRef">
            <ng-template pTemplate="headless"
                         let-message>
                <div class="egyszeru-confirm-keret">
                    <div class="eck-uzi">
                        <span>{{ message.message }}</span>
                    </div>
                    <div class="eck-gombok">
                        <p-button icon="pi pi-trash"
                                  severity="danger"
                                  [rounded]="true"
                                  [text]="true"
                                  (onClick)="linkTorlesAccept()"></p-button>
                        <p-button icon="pi pi-undo"
                                  [rounded]="true"
                                  [text]="true"
                                  (onClick)="linkTorlesReject()"></p-button>
                    </div>
                </div>
            </ng-template>
        </p-confirmPopup>
    </div>
    }
</div>
@if (ujLinkFelvetelE() && !szerkesztesiAdatok()?.szerkesztesAlatt()) {
<div class="uj-link">
    <div class="uj-link-gomb">
        <p-button icon="pi pi-plus"
                  severity="help"
                  [text]="true"
                  [raised]="true"
                  label="Új link"
                  (onClick)="ujLinkRogzitesInditas()"></p-button>
    </div>
</div>
}
} @else {
<div class="idegen-link">
    <p-button [label]="link().nev"
              [link]="true"
              (click)="openLink()" />
</div>
}