<div class="kmain-keret" #keretDiv>
    <div class="keret-fej">
        <div class="fej-bal">
            @if (ful() > 1) {
            <p-button icon="pi pi-angle-double-left"
                      class="fej-gomb"
                      [rounded]="true"
                      [outlined]="true"
                      (onClick)="balra()"></p-button>
            }
        </div>
        <div class="fej-kozep fk-min ">
            @if (ful()===1) {
            Receptek
            } @else {
            Recept szerkesztő
            }
        </div>
        <div class="fej-kozep fk-max">
            KONYHAI KISOKOS
        </div>
        <div class="fej-jobb">
            @if (ful() < 2) {
                <p-button icon="pi pi-plus"
                    class="fej-gomb"
                    [rounded]="true"
                    [outlined]="true"
                    (onClick)="jobbra()"></p-button>
            }
        </div>
    </div>
    <div class="keret-torzs">
        <div class="torzs-bal" [ngClass]="{'rejtett': ful()>1}">
            <app-recept-lista (receptKivalasztva)="receptKivalasztas($event)"></app-recept-lista>
        </div>
        <div class="torzs-jobb" [ngClass]="{'rejtett': ful()<2}">
            <app-recept-szerkeszto (szerkesztesVege)="receptSzerkesztesKesz($event)"></app-recept-szerkeszto>
        </div>
    </div>
</div>
