@import "../../app-colors.scss";

:host::ng-deep .p-button.p-button-outlined {
    color: white;
}

.kmain-keret {
    width: 100svw;
    height: 100svh;
    overflow: hidden;

    .keret-fej {
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: linear-gradient(45deg, $kk-fej-sarga, $kk-fej-zold);


        .fej-bal, .fej-jobb {
            min-width: 55px;
            text-align: center;

            .fej-gomb {
                display: none;

                @media screen and (max-width: 1200px) {
                    display: block;
                }
            }
        }

        .fej-kozep {
            text-align: center;
            color: white;
            
            &.fk-min {
                display: none;

                @media screen and (max-width: 1200px) {
                    display: block;
                }
            }
        
            &.fk-max {
                display: block;

                @media screen and (max-width: 1200px) {
                    display: none;
                }
            }
        }
    }

    .keret-torzs {
        width: 100svw;
        height: calc(100svh - 60px);
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-image: url(../../../assets/pizza.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        @media screen and (max-width: 1200px) {
            grid-template-columns: 1fr;
        }

        .torzs-bal, .torzs-jobb {
            height: calc(100svh - 60px);
            z-index: 2;

            &.rejtett {
                display: block;
                @media screen and (max-width: 1200px) {
                    display: none;
                }
            }
        }
    }

    .keret-torzs::before {
        content         : "";
        position        : absolute;
        top             : 60px;
        right           : 0px;
        bottom          : 0px;
        left            : 0px;
        background-color: rgb(255 255 255 / 90%);
    }
}