@import "../../app-colors.scss";

.recept-szerk-keret {

    width: 100%;
    height: 100%;
    overflow: hidden;

    .resze-fej {
        width: 100%;
        height: 60px;
        padding: 0 5%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;

        .resze-fej-duma {
            max-width: 60%;
            text-align: center;
            color: $kk-piros;
            font-weight: 500;
        }
    }

    .resze-torzs {
        width: 100%;
        max-height: calc(100% - 60px);
        overflow-x: hidden;
        overflow-y: auto;        
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        // background-color: pink;

        .torzs-sor {
            margin: 5px 0;
        }

        .nev, .keszites, .leiras, .megjegyzesek, .linkek {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;

            .mezo-felirat {
                min-width: 160px;
                // width: 20%;
                text-align: right;
                padding-right: 20px;
            }

            .mezo-torzs {
                // width: 60%;
                flex-grow: 1;
                margin-right: 20px;

                .mezo-input {
                    width: 100%;
                    max-width: 100%;
                    min-width: 100%;
                    min-height: 46px;
                }
            }
        }

        .leiras, .megjegyzesek, .linkek{
            align-items: start;

            .mezo-felirat {
                margin-top: 0.8rem;
            }
        }

        .megjegyzesek {

            .megj-torzs {

                .megj-blokk {
                    display: flex;
                    flex-direction: column;
                    margin: 10px 0;
                    border-radius: 1rem;
                    padding: 0.3rem;
                    background-color: antiquewhite;
                    position: relative;

                    .mb-bal {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0.3rem;
                    }

                    .mb-jobb {
                        
                        .mb-input {
                            width: 100%;
                            max-width: 100%;
                            min-width: 100%;
                            min-height: 46px;
                        }
                    }

                    .megj-torles {
                        position: absolute;
                        bottom: 10%;
                        left: -60px;
                    }
                }

                .nincs-megj {
                    margin-top: 0.8rem;
                    text-align: center;
                    margin-bottom: 1rem;
                }

                .uj-megjegyzes {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .linkek {

            .link-torzs{

                &.idegen {
                    display: flex;
                    flex-wrap: wrap;
                    column-gap: 1rem;
                    row-gap: 10px;
                }

                .nincs-link {
                    margin-top: 0.8rem;
                    text-align: center;
                    margin-bottom: 1rem;
                }
                
                .uj-link {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 1rem;
                }
            }
        }
    }
}

