@import "../../app-colors.scss";

.recept-szerk-keret {

    width: 100%;
    height: 100%;
    overflow: hidden;
    container-type: inline-size;
    container-name: reszekeret;

    .resze-fej {
        width: 100%;
        height: 60px;
        padding: 0 5%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;

        .resze-fej-duma {
            max-width: 60%;
            text-align: center;
            color: $kk-piros;
            font-weight: 500;
        }

        @container reszekeret (min-width: 600px) {
            .kepkezeles-gomb {
                ::ng-deep.kepek-gomb::after {
                    content: 'épek';
                    font-weight: 700;
                }
            }

            .uj-recept {
                ::ng-deep.uj-r-gomb::after {
                    content: 'recept';
                    font-weight: 700;
                    padding-left: 1ch;
                }
            }

            .mentes-gomb-div {
                ::ng-deep.mentes-gomb::after {
                    content: 'entés';
                    font-weight: 700;
                }
            }
        }
    }

    .resze-torzs {
        width: 100%;
        max-height: calc(100% - 60px);
        overflow-x: hidden;
        overflow-y: auto;        
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        // background-color: pink;

        &.keptorzs {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            flex-wrap: wrap;
            column-gap: 1rem;
            row-gap: 10px;
            margin-top: 1rem;
            padding-bottom: 2rem;

            .nincs-kep {
                font-weight: 500;
                padding-top: 1rem;
            }
        }

        .kep-felvetel {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .torzs-sor {
            margin: 5px 0;
            

            &.kepek-nem {

                padding: 1rem;
                text-align: center;

                .kep-readonly {
                    font-weight: 500;
                }
            }
        }

        .nem-sajat {
            text-align: center;
            font-weight: 500;
            font-size: 0.9rem;
            color: $kk-piros;
            padding: 15px;
        }

        .nev, .keszites, .leiras, .megjegyzesek, .linkek, .kepek {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;

            .mezo-felirat {
                min-width: 160px;
                // width: 20%;
                text-align: right;
                padding-right: 20px;
            }

            .mezo-torzs {
                // width: 60%;
                flex-grow: 1;
                margin-right: 20px;

                .mezo-input {
                    width: 100%;
                    max-width: 100%;
                    min-width: 100%;
                    min-height: 46px;
                }

                
            }
        }

        .leiras, .megjegyzesek, .linkek {
            align-items: start;

            .mezo-felirat {
                margin-top: 0.8rem;
            }
        }

        .megjegyzesek {

            .megj-torzs {

                .megj-blokk {
                    display: flex;
                    flex-direction: column;
                    margin: 10px 0;
                    border-radius: 1rem;
                    padding: 0.3rem;
                    background-color: antiquewhite;
                    position: relative;

                    .mb-bal {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0.3rem;
                    }

                    .mb-jobb {
                        
                        .mb-input {
                            width: 100%;
                            max-width: 100%;
                            min-width: 100%;
                            min-height: 46px;
                        }
                    }

                    .megj-torles {
                        position: absolute;
                        bottom: 10%;
                        left: -60px;
                    }
                }

                .nincs-megj {
                    margin-top: 0.8rem;
                    text-align: center;
                    margin-bottom: 1rem;
                }

                .uj-megjegyzes {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .linkek {

            .link-torzs{

                &.idegen {
                    display: flex;
                    flex-wrap: wrap;
                    column-gap: 1rem;
                    row-gap: 10px;
                }

                .nincs-link {
                    margin-top: 0.8rem;
                    text-align: center;
                    margin-bottom: 1rem;
                }
            }
        }

        .kepek {
            margin-top: 0.8rem;
        }

        @container reszekeret (max-width: 800px) {

            .nev, .keszites, .leiras, .megjegyzesek, .linkek, .kepek {
                flex-direction: column;
                align-items: start;
                width: 100%;
                padding: 0 1rem;
                
                .mezo-felirat {
                    text-align: left;
                    padding-right: 0;
                }
    
                .mezo-torzs {
                    width: 100%;
                    margin-right: 0;
                }
            }

            .megjegyzesek {

                .megj-torzs {
    
                    .megj-blokk {
    
                        .megj-torles {
                            position: initial;
                            text-align: center;
                            padding-top: 0.3rem;
                        }
                    }
    
                    .nincs-megj {
                        margin-top: 0.8rem;
                        text-align: center;
                        margin-bottom: 1rem;
                    }
    
                    .uj-megjegyzes {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }

    
        }
    }
}

p-fileupload.p-element {
    width: 90%;
    min-width: 400px;
    max-width: 600px;
}

.kep-felt-gombok {
    display: flex;
    justify-content: space-evenly;

    .kep-felt-g-spacer {
        width: 60px;
    }
}

.kep-val-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1rem;

    .kep-val-preview {

        .kep-val-preview-img {
            max-width: 100px;
            max-height: 100px;
            object-fit: contain;
        }
        

    }

    .kep-val-nev-allito {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;

        .kep-val-nev-allito-label {
            font-weight: 900;
            padding: 0 0 3px 2px;
            font-size: 0.9rem;
        }

        input {
            width: 100%;
        }
    }

}


