<div class="recept-szerk-keret">
    <div class="resze-fej">
        @if (szerkesztesiAdatok()?.recept()?.azon) {
            @if (szerkesztesiAdatok()?.recept()?.sajatE) {
                <p-button icon="pi pi-save"
                    severity="primary"
                    [text]="true"
                    [raised]="true"
                    label="Mentés"
                    (onClick)="mentes()"
                    [disabled]="!receptMentheto()"></p-button>
            } @else {
                <div class="resze-fej-duma">A kiválasztott recept nem saját, így csak a saját megjegyzések módosíthatók.</div>
            }
        }
        @if (!mobilE()) {
            <p-button icon="pi pi-plus"
                severity="success"
                [text]="true"
                [raised]="true"
                label="Új recept"
                (onClick)="ujReceptFelvetelInditas()"></p-button>
        }
    </div>
    <div class="resze-torzs">
        @if (torzsMegjelenithetoE()) {
            azon: {{szerkesztesiAdatok()?.recept()?.azon}}
            név: {{szerkesztesiAdatok()?.recept()?.nev}}
        }
        <br>
        {{szerkesztesiAdatok()?.forrasRecept?.azon}}
        {{mobilE()}}
        <!-- ITT LESZNEK A RECEPT MEZŐK
        <p-button [icon]="'pi pi-plus'"
                  [severity]="'help'"
                  [rounded]="true"
                  [text]="true"
                  [raised]="true"
                  (onClick)="gombTeszt()">TESZT1</p-button>
        <p-button [icon]="'pi pi-minus'"
                  [severity]="'help'"
                  [rounded]="true"
                  [text]="true"
                  [raised]="true"
                  (onClick)="gombTeszt2()">TESZT2</p-button> -->
    </div>
</div>