<div class="recept-szerk-keret">
    <div class="resze-fej">
        @if (szerkesztesiAdatok()?.kepkezelesAktiv()) {
        <p-button icon="pi pi-chevron-left"
                  severity="help"
                  [text]="true"
                  [raised]="true"
                  [label]="'Elég a képekből'"
                  (onClick)="kepKezelesVege()"></p-button>
        @if (szerkesztesiAdatok()?.recept()?.sajatE && !szerkesztesiAdatok()?.ujKepFelvetelInditva()) {
        <p-button icon="pi pi-plus"
                  severity="success"
                  [text]="true"
                  [raised]="true"
                  label="Új kép"
                  (onClick)="ujKepFelvetelInditas()"></p-button>
        }
        } @else {
        @if (szerkesztesiAdatok()?.recept()?.azon) {
        <div class="kedvenc-allito">
            <p-button [icon]="szerkesztesiAdatok()?.recept()?.kedvencE ? 'pi pi-star-fill' : 'pi pi-star'"
                      severity="warn"
                      [rounded]="true"
                      [text]="true"
                      [raised]="true"
                      (onClick)="kedvencsegAllitas()"></p-button>
        </div>
        @if(szerkesztesiAdatok()?.forrasRecept?.azon) {
        <div class="kepkezeles-gomb">
            <p-button icon="pi pi-image"
                      severity="help"
                      [text]="true"
                      [raised]="true"
                      styleClass="kepek-gomb resze-gomb"
                      [label]="'K'"
                      (onClick)="kepKezelesInditas()"></p-button>
        </div>
        }
        @if (szerkesztesiAdatok()?.recept()?.sajatE || sajatMegjegyzesVanE()) {
        <div class="mentes-gomb-div">
            <p-button icon="pi pi-save"
                      severity="primary"
                      [text]="true"
                      [raised]="true"
                      styleClass="mentes-gomb resze-gomb"
                      label="M"
                      (onClick)="mentes()"
                      [disabled]="!receptMentheto()"></p-button>
        </div>
        }
        @if (szerkesztesiAdatok()?.forrasRecept?.azon && szerkesztesiAdatok()?.recept()?.sajatE) {
        <div class="torles-gomb-div">
            <p-button icon="pi pi-trash"
                      severity="danger"
                      [text]="true"
                      [raised]="true"
                      styleClass="torles-gomb resze-gomb"
                      label="T"
                      (onClick)="torles($event)"></p-button>
            <p-confirmPopup #reTorConfirmPopupRef
                            key="reTorConfirmPopupRef">
                <ng-template pTemplate="headless"
                             let-message>
                    <div class="egyszeru-confirm-keret">
                        <div class="eck-uzi">
                            <span>{{ message.message }}</span>
                        </div>
                        <div class="eck-gombok">
                            <p-button icon="pi pi-trash"
                                      severity="danger"
                                      [rounded]="true"
                                      [text]="true"
                                      (onClick)="receptTorlesAccept()"></p-button>
                            <p-button icon="pi pi-undo"
                                      [rounded]="true"
                                      [text]="true"
                                      (onClick)="receptTorlesReject()"></p-button>
                        </div>
                    </div>
                </ng-template>
            </p-confirmPopup>
        </div>
        }
        }
        <div class="uj-recept">
            <p-button icon="pi pi-plus"
                      severity="success"
                      [text]="true"
                      [raised]="true"
                      label="Új"
                      styleClass="uj-r-gomb resze-gomb"
                      (onClick)="ujReceptFelvetelInditas()"></p-button>
        </div>
        }
    </div>
    @if (this.szerkesztesiAdatok()?.kepkezelesAktiv()) {
    <div class="resze-torzs keptorzs">
        @if (szerkesztesiAdatok()?.ujKepFelvetelInditva()) {
        <div class="kep-felvetel">
            <!-- <input type="file"
                   id="file"
                   #userPhoto
                   (change)="onFileSelected($event)"
                   name="image"
                   accept="image/png, image/jpg, image/jpeg"
                   autocomplete="off" />
            <div class="uj-kep-bev"> {{ujKepNev()}}</div> -->
            <p-fileUpload #kepvalaszto
                          mode="advanced"
                          chooseIcon="pi pi-upload"
                          customUpload="true"
                          id="kepvalaszto"
                          fileLimit="1"
                          accept="image/png, image/jpg, image/jpeg"
                          [invalidFileTypeMessageSummary]="'{0}: Nem megfelelő fájl formátum!'"
                          [invalidFileTypeMessageDetail]="'Választhatók: {0}'"
                          (onSelect)="onSelect($event)"
                          (uploadHandler)="uploadHandler($event)"
                          (onBeforeUpload)="onBeforeUpload($event)"
                          (onUpload)="onUpload($event)"
                          (onClear)="onClear()"
                          chooseLabel="Kép kiválasztása">
                <ng-template pTemplate="header"
                             let-files
                             let-chooseCallback="chooseCallback"
                             let-clearCallback="clearCallback"
                             let-uploadCallback="uploadCallback">
                    <div class="kep-felt-gombok">
                        <div class="kep-felt-gomb">
                            <p-button (onClick)="kepValasztasAbort()"
                                      icon="pi pi-undo"
                                      severity="warn"
                                      [rounded]="true" />
                        </div>
                        <div class="kep-felt-g-spacer"></div>
                        <div class="kep-felt-gomb">
                            <p-button (onClick)="choose($event, chooseCallback)"
                                      icon="pi pi-images"
                                      [rounded]="true"
                                      [disabled]="files?.length > 0" />

                        </div>
                        <div class="kep-felt-g-spacer"></div>
                        <div class="kep-felt-gomb">
                            <p-button (onClick)="uploadCallback()"
                                      icon="pi pi-cloud-upload"
                                      [rounded]="true"
                                      severity="success"
                                      [disabled]="!files || files.length === 0 || ujKepNev()?.length < 1" />

                        </div>
                        <div class="kep-felt-gomb">
                            <p-button (onClick)="clearCallback()"
                                      icon="pi pi-times"
                                      [rounded]="true"
                                      severity="danger"
                                      [disabled]="!files || files.length === 0" />
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="content"
                             let-files
                             let-uploadedFiles="uploadedFiles"
                             let-removeFileCallback="removeFileCallback"
                             let-removeUploadedFileCallback="removeUploadedFileCallback">
                    @if (files.length > 0) {
                    <div class="kep-val-content">
                        <div class="kep-val-preview">
                            <img class="kep-val-preview-img"
                                 role="presentation"
                                 [alt]="files[0].name"
                                 [src]="files[0].objectURL" />
                        </div>
                        <div class="kep-val-nev-allito">
                            <div class="kep-val-nev-allito-label">Ezen a néven kerül feltöltésre:</div>
                            <input type="text"
                                   pInputText
                                   class="mezo-input"
                                   [ngClass]="{'ng-invalid ng-dirty': ujKepNev()?.length < 1}"
                                   [(ngModel)]="ujKepNev"
                                   (ngModelChange)="ujKepNevModositas($event)" />
                        </div>
                    </div>
                    }
                </ng-template>
                <ng-template pTemplate="file"></ng-template>
                <ng-template pTemplate="empty">
                    <div class="nincs-kiv-kep">Válassz képet...</div>
                </ng-template>
            </p-fileUpload>
        </div>
        }
        @if (this.szerkesztesiAdatok()?.kepekInfo()?.items?.length > 0) {
        @for (kepInfo of this.szerkesztesiAdatok()?.kepekInfo()?.items; track kepInfo.name) {
        <app-recept-kep-kezelo [kepInfo]="kepInfo"
                               [sajatE]="szerkesztesiAdatok()?.recept()?.sajatE"
                               (kepTorlesOK)="kepTorlesOK($event)"></app-recept-kep-kezelo>
        }
        } @else {
        <div class="nincs-kep">A recept kapcsán nincs kép rögzítve</div>
        }
    </div>
    } @else {
    <div class="resze-torzs">
        @if (szerkesztesiAdatok()?.recept()?.azon && !szerkesztesiAdatok()?.recept()?.sajatE) {
        <div class="torzs-sor nem-sajat">
            Nem saját recept esetén csak a saját megjegyzés módosítható.
        </div>
        }
        @if (szerkesztesiAdatok()?.recept()?.azon && szerkesztesiAdatok()?.recept()?.sajatE &&
        !szerkesztesiAdatok()?.forrasRecept?.azon) {
        <div class="torzs-sor kepek-nem">
            <span class="kep-readonly">A recept elmentéséig a képek kezelése nem elérhető</span>
        </div>
        }
        @if (torzsMegjelenithetoE() && alapForm) {
        <form [formGroup]="alapForm">
            <div class="torzs-sor nev">
                <div class="mezo-felirat">Név:</div>
                <div class="mezo-torzs">
                    <input type="text"
                           pInputText
                           class="mezo-input"
                           [formControl]="getFC('nev')"
                           (ngModelChange)="nevModositas($event)" />
                </div>
            </div>
            <div class="torzs-sor keszites">
                <div class="mezo-felirat">Készítés:</div>
                <div class="mezo-torzs">
                    <input type="text"
                           pInputText
                           class="mezo-input"
                           [formControl]="getFC('keszites')"
                           (ngModelChange)="keszitesModositas($event)" />
                </div>
            </div>
            <div class="torzs-sor leiras">
                <div class="mezo-felirat">Leírás:</div>
                <div class="mezo-torzs">
                    @if (autoresize()) {
                    <textarea rows="2"
                              class="mezo-input"
                              pTextarea
                              #leirasInput
                              [autoResize]="autoresize()"
                              [formControl]="getFC('leiras')"
                              (ngModelChange)="leirasModositas($event)">
                    </textarea>
                    }
                </div>
            </div>
            <!-- <div class="torzs-sor nev">
            <div class="mezo-felirat">Név:</div>
            <div class="mezo-torzs">
                <input type="text"
                       pInputText
                       class="mezo-input"
                       [ngClass]="{'ng-invalid ng-dirty': szerkesztesiAdatok()?.recept()?.nev?.length < 1}"
                       [disabled]="!szerkesztesiAdatok()?.recept()?.sajatE"
                       [ngModel]="szerkesztesiAdatok()?.recept().nev"
                       (ngModelChange)="nevModositas($event)" />
            </div>
        </div>
        <div class="torzs-sor keszites">
            <div class="mezo-felirat">Készítés:</div>
            <div class="mezo-torzs">
                <input type="text"
                       pInputText
                       class="mezo-input"
                       [disabled]="!szerkesztesiAdatok()?.recept()?.sajatE"
                       [ngModel]="szerkesztesiAdatok()?.recept().keszites"
                       (ngModelChange)="keszitesModositas($event)" />
            </div>
        </div>
        <div class="torzs-sor leiras">
            <div class="mezo-felirat">Leírás:</div>
            <div class="mezo-torzs">
                <textarea rows="2"
                          class="mezo-input"
                          pInputTextarea
                          [disabled]="!szerkesztesiAdatok()?.recept()?.sajatE"
                          [autoResize]="true"
                          [ngClass]="{'ng-invalid ng-dirty': szerkesztesiAdatok()?.recept()?.leiras?.length < 1}"
                          [ngModel]="szerkesztesiAdatok()?.recept().leiras"
                          (ngModelChange)="leirasModositas($event)">
                </textarea>
            </div>
        </div> -->
            <div class="torzs-sor osszetevok">
                <div class="mezo-felirat">Összetevők:</div>
                <div class="mezo-torzs">
                    <app-recept-osszetevo-kezelo #osszetevok
                                                 [osszetevok]="szerkesztesiAdatok()?.recept()?.osszetevok"></app-recept-osszetevo-kezelo>
                </div>
            </div>
            <div class="torzs-sor megjegyzesek">
                <div class="mezo-felirat">Megjegyzések:</div>
                <div class="mezo-torzs megj-torzs">
                    @if (szerkesztesiAdatok()?.recept()?.megjegyzesek?.length > 0) {
                    @for (megjegyzes of szerkesztesiAdatok()?.recept()?.megjegyzesek; track megjegyzes) {
                    <div class="megj-blokk">
                        <div class="mb-bal">
                            <div class="mb-bal-felh">
                                {{ megjegyzes.felhasznaloAzon }}
                            </div>
                            <div class="mb-bal-ido">
                                {{ megjegyzes.idopont }}
                            </div>
                        </div>
                        <div class="mb-jobb">
                            @if (megjegyzes.sajatE) {
                            <textarea rows="2"
                                      class="mb-input"
                                      pTextarea
                                      [autoResize]="true"
                                      [formControl]="getFC('sajatMegjegyzesSzoveg')"
                                      (ngModelChange)="megjegyzesModositas($event, megjegyzes)">
                            </textarea>
                            } @else {
                            <textarea rows="2"
                                      class="mb-input"
                                      pTextarea
                                      [disabled]="!megjegyzes.sajatE"
                                      [autoResize]="true"
                                      [ngModel]="megjegyzes.duma"
                                      [ngModelOptions]="{standalone: true}">
                            </textarea>
                            }
                            <!-- <textarea rows="2"
                                      class="mb-input"
                                      pInputTextarea
                                      [disabled]="!megjegyzes.sajatE"
                                      [autoResize]="true"
                                      [ngClass]="{ 'ng-invalid ng-dirty': megjegyzes.sajatE && megjegyzes.duma?.length < 1}"
                                      [(ngModel)]="megjegyzes.duma"
                                      [ngModelOptions]="{standalone: true}"
                                      (ngModelChange)="megjegyzesModositas(megjegyzes)">
                            </textarea> -->
                        </div>
                        @if (megjegyzes.sajatE) {
                        <div class="megj-torles">
                            <p-button icon="pi pi-trash"
                                      severity="danger"
                                      [rounded]="true"
                                      [text]="true"
                                      [raised]="true"
                                      (onClick)="sajatMegjegyzesTorles($event, megjegyzes)"></p-button>
                            <p-confirmPopup #megjegyzesConfirmPopupRef
                                            key="megjegyzesConfirmPopupRef">
                                <ng-template pTemplate="headless"
                                             let-message>
                                    <div class="egyszeru-confirm-keret">
                                        <div class="eck-uzi">
                                            <span>{{ message.message }}</span>
                                        </div>
                                        <div class="eck-gombok">
                                            <p-button icon="pi pi-trash"
                                                      severity="danger"
                                                      [rounded]="true"
                                                      [text]="true"
                                                      (onClick)="megjTorlesAccept()"></p-button>
                                            <p-button icon="pi pi-undo"
                                                      [rounded]="true"
                                                      [text]="true"
                                                      (onClick)="megjTorlesReject()"></p-button>
                                        </div>
                                    </div>
                                </ng-template>
                            </p-confirmPopup>
                        </div>
                        }
                    </div>
                    }
                    } @else {
                    <div class="nincs-megj">
                        <em>Nincs megjegyzés rögzítve</em>
                    </div>
                    } @if (!sajatMegjegyzesVanE()) {
                    <div class="uj-megjegyzes">
                        <div class="uj-megj-gomb">
                            <p-button icon="pi pi-plus"
                                      severity="help"
                                      [text]="true"
                                      [raised]="true"
                                      label="Új megjegyzés"
                                      (onClick)="ujMegjegyzesRogzitesInditas()"></p-button>
                        </div>
                    </div>
                    }
                </div>
            </div>
            <div class="torzs-sor linkek">
                <div class="mezo-felirat">Linkek:</div>
                <div class="mezo-torzs link-torzs"
                     [ngClass]="{ 'idegen': !szerkesztesiAdatok()?.recept()?.sajatE}">
                    @if (szerkesztesiAdatok()?.recept()?.linkek?.length > 0) {
                    @for (link of szerkesztesiAdatok()?.recept()?.linkek; track link) {
                    <app-recept-linker [link]="link"
                                       [sajatE]="szerkesztesiAdatok()?.recept()?.sajatE"
                                       [ujLinkFelvetelE]="false"
                                       (linkModositva)="linkModositva($event, $index)"
                                       (linkTorlesOK)="linkTorlesOK($event, $index)"></app-recept-linker>
                    }
                    } @else {
                    <div class="nincs-link">
                        <em>Nincs Link rögzítve</em>
                    </div>
                    }
                    @if (szerkesztesiAdatok()?.recept()?.sajatE) {
                    <app-recept-linker [link]="null"
                                       [sajatE]="true"
                                       [ujLinkFelvetelE]="true"
                                       (linkModositva)="linkFelveve($event)"></app-recept-linker>
                    }
                </div>
            </div>
        </form>
        }
    </div>
    }
</div>