@import "primeicons/primeicons.css";

body,
html {
    width      : 100vw;
    height     : 100vh;
    padding    : 0;
    margin     : 0;
}

.helykitolto {
    display: block;
    width: 100%;
    height: 100%;
    // margin: 0;
}

.egyszeru-confirm-keret {

    max-width: 200px;
    text-align: center;

    .eck-uzi {
        font-weight: 700;
        padding: 10px 5px 0 5px;
        white-space: pre-wrap
    }

    .eck-gombok {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

}

// A kezdetben invalid, de még nem bizergált mezőt nem jelez a primeng invalidnak, csak ha dirty is. 
// Így lehet elérni, hogy már az elején is invalid legyen.
.p-inputtext.ng-invalid {
    border-color: #e24c4c;
}